.player_team_block .sim-points {
  background-color: red;
}

.player_team_block.result-QoLed .sim-points {
  background-color: unset;
}

.player_team_block .sim-chance {
  background-color: red;
}

.player_team_block.result-QoLed .sim-chance {
  background-color: unset;
}

.player_team_block .sim-icon-button {
  background-color: red;
}

/* replace the class icon with a poison bottle */
/*.player_team_block.poisonous .player_details [carac]::before {
  background-image: url(/images/caracs/mana_generation_icon.png);
}*/
