.several-qol-bestrank-timesreached {
  margin-left: 5px;
  display: flex;
  width: 100%;
  align-items: center;
  text-shadow:
    1px 0 0 #000,
    0 1px 0 #000,
    -1px 0 0 #000,
    0 -1px 0 #000,
    1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000;
}

.several-qol-bestrank-timesreached.old {
  filter: contrast(0.5);
}
.several-qol-bestrank-timesreached > .new-in-league {
  font-size: 10px;
  color: #23b56b;
  font-weight: bold;
}

.several-qol-bestrank-timesreached > .rank-container {
  background-size: cover;
  text-align: center;
  min-width: 16px;
  max-width: 32px;
  width: auto;
  height: 16px;
  font-size: 10px;
}
.several-qol-bestrank-timesreached > .times-reached {
  margin-left: 3px;
}

.several-qol-top1 {
  background: transparent
    radial-gradient(closest-side at 50% 50%, #f5a866 0%, #ec0039 51%, #9e0e27 100%) 0% 0% no-repeat
    padding-box;
}

.several-qol-top4 {
  background-image: url(/images/legendary.png);
}

.several-qol-top15 {
  background: #ffb244;
}
.several-qol-top30 {
  background: #23b56b;
}
.several-qol-top30plus {
  background: #8d8e9f;
}
