#love-raids .raid-card:not(.expanded) .raid-content .info-box {
  padding-top: 0;
  top: 4.8em;
}

#love-raids
  .raid-card:not(.expanded).multiple-girl
  .raid-content
  .info-box
  .classic-girl:nth-of-type(2)
  div.shards-container {
  top: 0;
}
.notify-toggle {
  position: relative;
  display: inline-block;
  height: 25px;
  width: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.5;
  filter: grayscale(1);
  margin-left: 5px;
}
.raid-name[data-notify="true"] .notify-toggle {
  opacity: 1;
  filter: grayscale(0);
}

.love-raids-hide-completed-btn > img {
  margin-left: 10px;
  height: 2rem;
  width: 50px;
  vertical-align: middle;
  cursor: pointer;
}

.raid-visibility-toggle {
  margin-left: 5px;
  cursor: pointer;
}
